<%= link_to "Create New Post", new_club_post_path(@club), class:"btn btn-primary float-right"%>
<div class="row">
        <div class="col-8"> 
<%= @club.name %>

<% @posts.each do |post| %>

    <h4><%= link_to post.title, club_post_path(@club, post) %></h4>
    <p><%= truncate post.body, length: 200 %></p>

<% end %>
    <small>
    <%= simple_format @club.regulations %>
    </small>
</div>
</div>